.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    background-color:var(--first-color);
}

.title {
    display: flex;
    align-items: center;
    color: white;
}

.header img {
    width: 2rem;
    height: auto;
    margin-right: .5rem;
}

.header h1 {
    font-size: var(--h1-font-size);
    color: white;
}
