.grid{
    display: grid;
    grid-template-columns: 16rem;
    gap: 4rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 16rem;
    height: 22rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: .1s;
}

.card:hover{
    width: 16.5rem;
    height: 22.5rem;
}

.card img {
    width: 6rem;
    height: auto;
    border-radius: 50%;
}

.Intervenant_title{
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
    align-items: center;
}

.card h2{
    color: var(--first-color);
}

.card i{
    color: var(--first-color-second);
    font-size: 2rem;
}

.card i:hover{
    color: var(--first-color-alt);
}

.Intervenant_social_media{
    display: flex;
    gap: 1.5rem;
}

/********** GESTION DES TAILLES D'ECRAN ************/
  
/*****  LARGEUR SUPERIEURE a 568px et INFERIEURE a 768px  ****/
@media screen and (min-width: 568px){
    .grid{
        grid-template-columns: 15rem 15rem;
        gap: 1.5rem;
    }

    .card{
        width: 15rem;
    }

    .card:hover{
        width: 16rem;
    }
}

/*****  LARGEUR SUPERIEURE a 1000px et INFERIEURE a 1200px ****/
@media screen and (min-width: 1000px){
    .card{
        gap: 2rem;
        width: 20rem;
        height: 25.5rem;
    }

    .grid{
        grid-template-columns: 20rem 20rem;
        gap: 2rem;
    }

    .card:hover{
        width: 20.5rem;
        height: 26rem;
    }
    
    .card img {
        width: 8rem;
        height: auto;
        border-radius: 50%;
    }
}

/*****  LARGEUR SUPERIEURE a 1200px****/
@media screen and (min-width: 1200px){
    .grid{
        grid-template-columns: 20rem 20rem 20rem;
        gap: 3rem;
    }
}

