.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-left: 300px;
    
}
.nav ul li {
    margin-right: 50px;
}

.nav a {
    color: white;
}