

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-left: 300px;
}

.nav ul li {
    margin-right: 50px;
}

.nav a {
    color: white;
    position: relative;
}

.subMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: .5rem;
  margin-top: 0.5rem;
}
  
.subMenu li {
  padding: 8px 0;
}

.subMenu a {
  text-decoration: none;
  color: white;
}

.subMenu a:hover {
  color: var(--first-color-alt);
}
  