.nav{
    position: relative;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-left: 300px;
    
}
.nav ul li {
    margin-right: 50px;
}

.nav a {
    color: white;
    position: relative;
}

.subMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    background-color:var(--first-color);
    z-index: 1;
    width: 100px;
  }
  
  .subMenu li {
    padding: 8px 0;
  }
  
  .subMenu a {
    text-decoration: none;
    color: white;
    

  }
  
  .subMenu a:hover {
    color: #0070f3;
  }

  