.section span{
    color: var(--text-color);
    font-size: 2rem;
   
}

.section p{
    color: var(--text-color-light);
    font-size: 1rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    width: 150px;
    height: 50px;
    border: none; 
    border-radius: 50px; 
    margin: 20px;
    color: #fff; 
    cursor: pointer;
    background-color: var(--first-color-second);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.buttons button:hover {
    background-color: var(--first-color-alt);
}
