.section{
    height: 300px;
}

.section span{
    color: var(--text-color);
    font-size: 2rem;
   
}

.section p{
    color: var(--text-color-light);
    font-size: 1rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    width: 150px;
    height: 50px;
    border-radius: 50px; 
    margin: 20px;
    color: var(--text-color); 
    cursor: pointer;
}

.buttons button:hover {
    background-color:var(--hue-color) ;
    border-color:var(--hue-color) ;
}